  
        {% extends 'finance/financemain.html.twig' %}

        {% block body %}
            <br/>
            <h2>Ostrzeżenia</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Typ</th> 
                        <th scope="col">Id</th> 
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in core %}
                        <tr> 
                            <td>{{ c.id }}</td>
                            <td>{{ c.type }}</td>
                            <td>{{ c.rel_id }}</td>
                            <td> 
                                <a href="/warning/delete/{{ c.id }}" class="delconfirm"> <i class="fa fa-trash " aria-hidden="true"></i> </a>    
                            </td>
                        </tr>
                {% else %}
                    <td colspan="4">Brak Budżetów</li>
                {% endfor %}
                </tbody>
            </table>
        
        {% endblock %}
 

 